body {
    text-align: center;
    background-color: black;
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
}

#stats {
    display: flex;
    justify-content: center;
}

.stats-info {
    margin: 5px;
    padding: 5px;
}