body {
    text-align: center;
    background-color: black;
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
}

ul {
    list-style-type:none;
}

#game-info {
    width: 50%;
}

#content{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

#stats-list{
    display:flex;
    justify-content:center;
    color:Orange
}

.stats-info{
    margin:5px;
    padding:5px;
}
